.header {
    background-color: rgb(48, 48, 48);
    padding: 2em;
}

.link {
    display: inline;
    padding: 0.5em;
}

.link a {
    color: white;
    text-decoration: none;
}

.link a:hover {
    color: pink;
    font-weight: bold;
}