.header, .footer {
    background-color: rgb(48, 48, 48);
    padding: 2em;
}

.link {
    display: inline;
    font-size: 1em;
    padding: 0.5em;
}

.link a {
    color: white;
    text-decoration: none;
}

.link a:hover {
    color: pink;
    font-weight: bold;
}

/* ----------- */

.footer {
    padding-top: 2em;
}

.footer a {
    color: turquoise;
}

.footer ul li {
    list-style-type: none;
    padding: 0.4em;
}

.middle, .top {
    color: white;
}

.top ul li, .middle ul li {
    font-size: 1.25em;
}

.middle {
    padding-top: 0.3em;
}

.bottom {
    display: flex;
    justify-content: center;
}

.bottom ul {
    display: flex;
}

.bottom ul li {
    padding: 2em;
}

.bottom ul li:hover {
    background-color: rgb(53, 53, 54);
}