.header, .footer {
    background-color: rgb(48, 48, 48);
    padding: 2em;
}

.link {
    display: inline;
    padding: 0.5em;
}

.link a {
    color: white;
    text-decoration: none;
}

.link a:hover {
    color: pink;
    font-weight: bold;
}

/* ----------- */

.footer {
    /* display: flex;
    justify-content: space-around; */
    margin-top: 30em;
    padding-top: 4em;
}

.footer a {
    color: turquoise;
}

.footer ul li {
    list-style-type: none;
    padding: 0.2em;
}

.middle, .top {
    color: white;
}

.middle {
    padding-top: 1em;
}

.bottom {
    display: flex;
    justify-content: center;
}

.bottom ul {
    display: flex;
}

.bottom ul li {
    padding: 2em;
}