.skill-section {
    display: flex;    
    flex-direction: row;
    flex-flow: column wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em 0 3em 0;
    padding-bottom: 1em;
    text-align: left;
    width: 100%;
}

table {
    width: 70%;
}

tr {
    /* background-color: rgb(221, 221, 221); */
    border-radius: 1px solid black;
}

td {
    padding-bottom: 1em;
    padding-right: 1em;
}

.td-cat {
    color: rgb(121, 88, 197);
}

.td-name {
    font-size: 1.5em;
}

.td-name:hover {
    color: rgb(121, 88, 197);
    font-weight: bold;
}

.td-desc {
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    vertical-align: middle;
    width: 50%;
}