.skill-section {
    display: flex;    
    justify-content: center;
    margin-top: 3em;
    padding-bottom: 1em;
    text-align: left;
    width: 100%;
}

table {
    width: 70%;
}

tr {
    /* background-color: rgb(221, 221, 221); */
    border-radius: 1px solid black;
}

td {
    padding-bottom: 1em;
    padding-right: 1em;
}

.td-cat {
    color: rgb(81, 39, 177);
}

.td-desc {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}