.skill-section {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    padding-bottom: 1em;
    text-align: left;
    width: 100%;
}

tr {
    border-radius: 1px solid black;
}

td {
    background-color: orange;
    padding-bottom: 2em;
    padding-right: 1em;
}

.td-desc {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}