.skill-section {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    padding-bottom: 1em;
    text-align: left;
    width: 100%;
}

table {
    width: 70%;
}

tr {
    border-radius: 1px solid black;
}

td {
    padding-bottom: 2em;
    padding-right: 1em;
}

.td-cat {
    color: red;
}

.td-desc {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}