.Aero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
}

.aero-wrap {
    background-color: white;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em gray;
    font-size: 1vw;
    margin: 2em;
    padding: 1.75em;
    text-align: left;
    width: 35%;
}

.aero-wrap .skill-name {
    font-size: 1.5vw;
    font-weight: bold;
}

.aero-wrap th {
    padding: 1em;
}

.aero-wrap .skill-desc {
    width: 100%;
}

th p {
    background-color: pink;
}