.aero-wrap {
    background-color: rgb(163, 199, 223);
}

.geo-wrap {
    background-color: rgb(143, 138, 129);
}

.hunts-wrap {
    background-color: rgb(136, 158, 139)
}

.hydro-wrap {
    background-color: rgb(78, 92, 138);
}



.war-wrap {
    background-color: rgb(83, 32, 32)
}

/* ------------------------------------ */

.Aero, .Geo, .Hunts, .Hydro, .War {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
}

.skill-title h1 {
    padding-top: 1em;
    text-shadow: 2px 2px white;
}

.skill-title:hover {
    text-decoration: underline;
}

.skill-wrap {
    background-color: white;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em gray;
    font-size: 1vw;
    margin: 2em;
    padding: 1em;
    text-align: left;
    width: 35%;
}

.skill-name {
    text-align: center;
}

.tier-2 {
    font-size: 1.25vw;
    text-align: center;
}

.skill-wrap .skill-name {
    font-size: 1.5vw;
    font-weight: bold;
}

.skill-desc {
    font-size: 1.5vw;
}

.skill-wrap th {
    font-weight: lighter;
    padding: 1em;
}

.skill-wrap .skill-desc {
    width: 100%;
}

/* ------------------------------------ */

.Aero p:hover {
    color: turquoise;
}

.Geo p:hover {
    color: green;
}

.Hunts p:hover {
    color: maroon;
}

.Hydro p:hover {
    color: rgb(131, 80, 13);
}

/* ------------------------------------ */


.hydro-wrap .skill-title h1 {
    color: rgb(32, 141, 204);
    text-shadow: 2px 2px black;
} 
