.Aero, .Geo {
    /* background-color: rgb(62, 85, 104); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
}

.skill-title h1 {
    padding-top: 1em;
}

.skill-title:hover {
    text-decoration: underline;
}

.skill-wrap {
    background-color: white;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em gray;
    font-size: 1vw;
    margin: 2em;
    padding: 1em;
    text-align: left;
    width: 35%;
}

.skill-name {
    text-align: center;
}

.tier-2 {
    text-align: center;
}

.skill-wrap .skill-name {
    font-size: 1.5vw;
    font-weight: bold;
}

.skill-desc {
    font-size: 1.5vw;
}

.skill-wrap th {
    font-weight: lighter;
    padding: 1em;
}

.skill-wrap .skill-desc {
    width: 100%;
}

/* ------------------------------------ */

.Aero p:hover {
    color: turquoise;
}

.Geo p:hover {
    color: green;
}
